
body {
    

    text-align: center;
    margin: 10px;
    padding: 10px;
}
.gameArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 90vh;
    width: 90vw;
    background-color: lavender;
    margin: auto;
    position: relative;

}

.container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding: auto;
    height: 30%;
    width: 90%;
    overflow: hidden;
}

.pyramid-container {
    background-color: lightgreen;
}
.ship-container {
    /* background-color: lightskyblue; */
    background-image: url('images/ocean.jpeg');
    background-size: contain;
    background-position: center;

}
.shed-container {
    /* background-color: darkcyan; */
    background-image: url('images/desert.jpg');
    background-size: contain;
}


.pyramid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    background-color: rgb(154, 175, 31);
    height: 22%;
    left: 6%;
    bottom: 468px;
    width: 51%;
    padding: 4px;
    align-content: baseline;
}


.sheds{
    margin: auto 20px;
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    height: 30%;
    width: 30%;
    bottom: 11%;
    border: 2px solid black;
}
.pyramid-blocks{
    background-color: rgb(212, 27, 126);
    margin: 3px;
    height: 27%;
    width: 13%;
}
.boat {
     height: 150px;
        width: 500px;
        background-image: url('ship.png');
        background-size: cover;
        background-position: center;
        /* background-color: white; */

        border: 3px solid #73AD21;
        position: relative;
        
        margin: auto;
}
