body {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.gameArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 80vh;
    width: 90vw;
    background-color: lavender;
    margin: auto;
    position: relative;
}

.container {
    margin: auto;
    padding: auto;
    height: 30%;
    width: 100%;
    overflow: hidden;
    background-color: brown;
}

.pyramid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    background-color: rgb(154, 175, 31);
    height: 22%;
    left: 3%;
    bottom: 395px;
    width: 40%;
    padding: 4px;
}
.pyramid-blocks{
    background-color: rgb(212, 27, 126);
    height: 28%;
    width: 7%;

}
